@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    overflow: hidden;
    background: #111631bb;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Raleway', sans-serif;

    h1,h2,h3,h4,i,td{
        text-shadow: 0px 0px 12px rgba(0, 0, 0, .3);
        color: white;
    }

    .loader-wrapper {
        z-index: 10;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #242f3f;
        display:flex;
        justify-content: center;
        align-items: center;
        .loader {
            display: inline-block;
            font-size: 100px;
            position: relative;
            animation: loader 2s infinite ease;
          }
       
          @keyframes loader {
            0% { transform: rotate(0deg);}
            25% { transform: rotate(180deg);}
            50% { transform: rotate(180deg);}
            75% { transform: rotate(360deg);}
            100% { transform: rotate(360deg);}
          }
      }

    nav{
        position: relative;
        text-align: center;
        i{
            position:absolute;
            top:20px;
            right: 20px;
            font-size: 30px;
            z-index: 2;
            cursor: pointer;
        }
        .title{
            padding-top: 20px;
            text-transform: uppercase;
        }
    }

    .search-section{
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        top:0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(150, 150, 150, 0.2);
        backdrop-filter: blur(20px);
        transition:visibility 0.3s linear,opacity 0.3s linear;
      
        .search-form{
            position: relative;
            padding: 20px 60px 10px 20px;

            .autocomplete {
                position: relative;
                display: inline-block;
                width: 100%;
                .autocomplete-items {
                    position: absolute;
                    border-bottom: none;
                    border-top: none;
                    z-index: 99;
                    height: 90vh;
                    margin-top: 10px;
                    top: 100%;
                    left: 0;
                    right: 0;
                    overflow: auto;
                    div {
                        padding: 10px;
                        cursor: pointer;
                        border-bottom: 1px solid #d4d4d4; 
                        &:hover {
                            background-color: rgba(255, 255, 255, 0.2); 
                          }
                      }
                  }
                  .search {
                
                    &-label {
                        position: absolute;
                        top: 0;
                        padding: 5px;
                        margin-left: 5px;
                        white-space: nowrap;
                        transform: translate(0, 0);
                        transform-origin: 0 0;
                        transition: transform 120ms ease-in;
                        font-weight: bold;
                      }
      
                      #search-text {
                        width: 100%;
                        box-sizing: border-box;
                        display: block;
                        border: 2px solid rgba(255, 255, 255, 0.3);
                        padding: 5px 10px;
                        color: white;
                        background: rgba(255, 255, 255, 0.2);
                        border-radius: 15px;
                        font-size: 13px;
                        font-weight: bold;
          
                        &:focus{
                            outline: none;
                        }
          
                        &:focus,
                        &:not(:placeholder-shown) {
                          & + .search-label {
                            transform: translate(.25rem, -65%) scale(.8);
                          }
                        }
                      }
    
                 
                  }
    
              }
            
        }
    }

    .popup-section{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1;
        background: rgba(250, 250, 250, 0.2);
        backdrop-filter: blur(5px);
        transition:visibility 0.3s linear,opacity 0.3s linear;

        .popup{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 300px;
            height: 300px;
            background: rgba(137, 24, 24, 0.5);
            border: 2px solid rgba(255, 255, 255, 0.1);
            border-radius: 25px;
            box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            .close-btn{
                position: absolute;
                top: 10px;
                right: 15px;
                font-size: 30px;
                cursor: pointer;
                text-shadow: 0px 0px 12px rgba(0, 0, 0, .5);
            }
        }
    }

    .content{
        z-index: 0;
        .today-card{
            width: 20vw;
            height: 70vh;
            margin: 50px 30px;
            padding: 10px;
            overflow: hidden;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            float: left;
            border-radius: 25px;
            background: rgba(255, 255, 255, 0.2);
            border: 2px solid rgba(255, 255, 255, 0.1);
            box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
            &::before{
                content: '';
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                backdrop-filter: blur(5px);  /* This will produce the blur */
            }
           
            #temp-section{
                margin: 10px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                #degree{
                    font-size: 6vh;
                }
                #unit{
                    font-size: 5vh;
                    margin-left: 5px;
                }
               
            }
           
            #desc{
                text-transform: uppercase;
                font-size: 3vh;
            }
            #min-max{
                font-size: 2.5vh;
            }
        }
    }

    .more-section{
        position: absolute;
        top: 98%;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: #111631;
        backdrop-filter: blur(5px);
        transition: all 0.5s ease-in-out;
     
        svg{
            position: absolute;
            top:-50px;
            left: 0;
            path{
                box-shadow: 0 0 80px rgba(255, 255, 255, 0.2);
            }
        }

        i{
            position: absolute;
            top: -15px;
            left: 50%;
            transform: translate(-50%);
            cursor: pointer;
            font-size: 21px;
            transition: all 0.5s ease-in-out;

            &:hover{
                transform: translate(-50%);
                font-size: 22px;
            }
        }
        .info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 1;
            width: 50%;
            margin: auto;
            padding: 50px;
            color: rgba(47, 149, 163, 0.864);
            font-size: 1.5rem;
            font-weight: bold;
            visibility: hidden;
            table{
                border-collapse: collapse; 
                tbody{
                    tr{
                        line-height: 1.8rem;
                        border-bottom: 1px solid white;
                        margin: 10px;
                        td{
                            &::before{
                                display: block;
                                text-transform: uppercase;
                                font-size: 0.8rem;
                            }
                        }
                        #sunrise{
                            &::before{
                                content: 'Sunrise';
                            }
                        }
                        #sunset{
                            &::before{
                                content: 'Sunset';
                            }
                        }
                        #pressure{
                            &::before{
                                content: 'Pressure';
                            }
                        }
                        #humidity{
                            &::before{
                                content: 'Humidity';
                            }
                        }
                        #wind{
                            &::before{
                                content: 'Wind';
                            }
                        }
                        #feels-like{
                            &::before{
                                content: 'Feels Like';
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 1100px) {
        .content{
            .today-card{
                width: 50vw;
                height: 50vh;
            }
            svg{
                top:-30px;
            }
            .info{
                width: 70%;
            }
        }

      }

}

